<?xml version="1.0" encoding="CP850"?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN"
  "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en" lang="en">
<head>
  <meta content="text/html; charset=CP850" http-equiv="Content-Type" />

  <title>Class: RGen::Fragment::ModelFragment</title>

  <link rel="stylesheet" href="../../rdoc.css" type="text/css" media="screen" />

  <script src="../../js/jquery.js" type="text/javascript" charset="utf-8"></script>
  <script src="../../js/thickbox-compressed.js" type="text/javascript" charset="utf-8"></script>
  <script src="../../js/quicksearch.js" type="text/javascript" charset="utf-8"></script>
  <script src="../../js/darkfish.js" type="text/javascript" charset="utf-8"></script>

</head>
<body id="top" class="class">

  <div id="metadata">
    <div id="home-metadata">
      <div id="home-section" class="section">
        <h3 class="section-header">
          <a href="../../index.html">Home</a>
          <a href="../../index.html#classes">Classes</a>
          <a href="../../index.html#methods">Methods</a>
        </h3>
      </div>
    </div>

    <div id="file-metadata">
      <div id="file-list-section" class="section">
        <h3 class="section-header">In Files</h3>
        <div class="section-body">
          <ul>
          
            <li><a href="../../lib/rgen/fragment/model_fragment_rb.html?TB_iframe=true&amp;height=550&amp;width=785"
              class="thickbox" title="lib/rgen/fragment/model_fragment.rb">lib/rgen/fragment/model_fragment.rb</a></li>
          
          </ul>
        </div>
      </div>

      
    </div>

    <div id="class-metadata">
      
      <!-- Parent Class -->
      <div id="parent-class-section" class="section">
        <h3 class="section-header">Parent</h3>
        
        <p class="link"><a href="../../Object.html">Object</a></p>
        
      </div>
      

      

      
      <!-- Namespace Contents -->
      <div id="namespace-list-section" class="section">
        <h3 class="section-header">Namespace</h3>
        <ul class="link-list">
          
          <li><span class="type">CLASS</span> <a href="ModelFragment/FragmentRef.html">RGen::Fragment::ModelFragment::FragmentRef</a></li>
          
          <li><span class="type">CLASS</span> <a href="ModelFragment/ResolvedReference.html">RGen::Fragment::ModelFragment::ResolvedReference</a></li>
          
        </ul>
      </div>
      

      
      <!-- Method Quickref -->
      <div id="method-list-section" class="section">
        <h3 class="section-header">Methods</h3>
        <ul class="link-list">
          
          <li><a href="#method-c-new">::new</a></li>
          
          <li><a href="#method-i-build_index">#build_index</a></li>
          
          <li><a href="#method-i-changed-3F">#changed?</a></li>
          
          <li><a href="#method-i-elements">#elements</a></li>
          
          <li><a href="#method-i-index">#index</a></li>
          
          <li><a href="#method-i-mark_changed">#mark_changed</a></li>
          
          <li><a href="#method-i-mark_unchanged">#mark_unchanged</a></li>
          
          <li><a href="#method-i-resolve_external">#resolve_external</a></li>
          
          <li><a href="#method-i-resolve_local">#resolve_local</a></li>
          
          <li><a href="#method-i-set_root_elements">#set_root_elements</a></li>
          
          <li><a href="#method-i-unresolve_external">#unresolve_external</a></li>
          
          <li><a href="#method-i-unresolve_external_fragment">#unresolve_external_fragment</a></li>
          
          <li><a href="#method-i-unresolved_refs">#unresolved_refs</a></li>
          
        </ul>
      </div>
      

      
    </div>

    <div id="project-metadata">
      
      
      <div id="fileindex-section" class="section project-section">
        <h3 class="section-header">Files</h3>
        <ul>
        
          <li class="file"><a href="../../CHANGELOG.html">CHANGELOG</a></li>
        
          <li class="file"><a href="../../MIT-LICENSE.html">MIT-LICENSE</a></li>
        
          <li class="file"><a href="../../README.html">README</a></li>
        
        </ul>
      </div>
      

      <div id="classindex-section" class="section project-section">
        <h3 class="section-header">Class/Module Index
          <span class="search-toggle"><img src="../../images/find.png"
            height="16" width="16" alt="[+]"
            title="show/hide quicksearch" /></span></h3>
        <form action="#" method="get" accept-charset="utf-8" class="initially-hidden">
        <fieldset>
          <legend>Quicksearch</legend>
          <input type="text" name="quicksearch" value=""
            class="quicksearch-field" />
        </fieldset>
        </form>

        <ul class="link-list">
        
          <li><a href="../../RGen.html">RGen</a></li>
        
          <li><a href="../../RGen/ECore.html">RGen::ECore</a></li>
        
          <li><a href="../../RGen/ECore/EAnnotation.html">RGen::ECore::EAnnotation</a></li>
        
          <li><a href="../../RGen/ECore/EAttribute.html">RGen::ECore::EAttribute</a></li>
        
          <li><a href="../../RGen/ECore/EAttribute/ClassModule.html">RGen::ECore::EAttribute::ClassModule</a></li>
        
          <li><a href="../../RGen/ECore/EClass.html">RGen::ECore::EClass</a></li>
        
          <li><a href="../../RGen/ECore/EClass/ClassModule.html">RGen::ECore::EClass::ClassModule</a></li>
        
          <li><a href="../../RGen/ECore/EClassifier.html">RGen::ECore::EClassifier</a></li>
        
          <li><a href="../../RGen/ECore/EClassifier/ClassModule.html">RGen::ECore::EClassifier::ClassModule</a></li>
        
          <li><a href="../../RGen/ECore/ECoreBuilderMethods.html">RGen::ECore::ECoreBuilderMethods</a></li>
        
          <li><a href="../../RGen/ECore/ECoreInterface.html">RGen::ECore::ECoreInterface</a></li>
        
          <li><a href="../../RGen/ECore/ECoreToRuby.html">RGen::ECore::ECoreToRuby</a></li>
        
          <li><a href="../../RGen/ECore/ECoreToRuby/FeatureWrapper.html">RGen::ECore::ECoreToRuby::FeatureWrapper</a></li>
        
          <li><a href="../../RGen/ECore/EDataType.html">RGen::ECore::EDataType</a></li>
        
          <li><a href="../../RGen/ECore/EEnum.html">RGen::ECore::EEnum</a></li>
        
          <li><a href="../../RGen/ECore/EEnumLiteral.html">RGen::ECore::EEnumLiteral</a></li>
        
          <li><a href="../../RGen/ECore/EFactory.html">RGen::ECore::EFactory</a></li>
        
          <li><a href="../../RGen/ECore/EGenericType.html">RGen::ECore::EGenericType</a></li>
        
          <li><a href="../../RGen/ECore/EModelElement.html">RGen::ECore::EModelElement</a></li>
        
          <li><a href="../../RGen/ECore/EModelElement/ClassModule.html">RGen::ECore::EModelElement::ClassModule</a></li>
        
          <li><a href="../../RGen/ECore/ENamedElement.html">RGen::ECore::ENamedElement</a></li>
        
          <li><a href="../../RGen/ECore/EObject.html">RGen::ECore::EObject</a></li>
        
          <li><a href="../../RGen/ECore/EOperation.html">RGen::ECore::EOperation</a></li>
        
          <li><a href="../../RGen/ECore/EPackage.html">RGen::ECore::EPackage</a></li>
        
          <li><a href="../../RGen/ECore/EPackage/ClassModule.html">RGen::ECore::EPackage::ClassModule</a></li>
        
          <li><a href="../../RGen/ECore/EParameter.html">RGen::ECore::EParameter</a></li>
        
          <li><a href="../../RGen/ECore/EReference.html">RGen::ECore::EReference</a></li>
        
          <li><a href="../../RGen/ECore/EStringToStringMapEntry.html">RGen::ECore::EStringToStringMapEntry</a></li>
        
          <li><a href="../../RGen/ECore/EStructuralFeature.html">RGen::ECore::EStructuralFeature</a></li>
        
          <li><a href="../../RGen/ECore/EStructuralFeature/ClassModule.html">RGen::ECore::EStructuralFeature::ClassModule</a></li>
        
          <li><a href="../../RGen/ECore/ETypeArgument.html">RGen::ECore::ETypeArgument</a></li>
        
          <li><a href="../../RGen/ECore/ETypedElement.html">RGen::ECore::ETypedElement</a></li>
        
          <li><a href="../../RGen/ECore/ETypedElement/ClassModule.html">RGen::ECore::ETypedElement::ClassModule</a></li>
        
          <li><a href="../../RGen/ECore/RubyToECore.html">RGen::ECore::RubyToECore</a></li>
        
          <li><a href="../../RGen/Environment.html">RGen::Environment</a></li>
        
          <li><a href="../../RGen/Fragment.html">RGen::Fragment</a></li>
        
          <li><a href="../../RGen/Fragment/DumpFileCache.html">RGen::Fragment::DumpFileCache</a></li>
        
          <li><a href="../../RGen/Fragment/FragmentedModel.html">RGen::Fragment::FragmentedModel</a></li>
        
          <li><a href="../../RGen/Fragment/ModelFragment.html">RGen::Fragment::ModelFragment</a></li>
        
          <li><a href="../../RGen/Fragment/ModelFragment/FragmentRef.html">RGen::Fragment::ModelFragment::FragmentRef</a></li>
        
          <li><a href="../../RGen/Fragment/ModelFragment/ResolvedReference.html">RGen::Fragment::ModelFragment::ResolvedReference</a></li>
        
          <li><a href="../../RGen/Instantiator.html">RGen::Instantiator</a></li>
        
          <li><a href="../../RGen/Instantiator/AbstractInstantiator.html">RGen::Instantiator::AbstractInstantiator</a></li>
        
          <li><a href="../../RGen/Instantiator/DefaultXMLInstantiator.html">RGen::Instantiator::DefaultXMLInstantiator</a></li>
        
          <li><a href="../../RGen/Instantiator/JsonInstantiator.html">RGen::Instantiator::JsonInstantiator</a></li>
        
          <li><a href="../../RGen/Instantiator/JsonParser.html">RGen::Instantiator::JsonParser</a></li>
        
          <li><a href="../../RGen/Instantiator/NodebasedXMLInstantiator.html">RGen::Instantiator::NodebasedXMLInstantiator</a></li>
        
          <li><a href="../../RGen/Instantiator/NodebasedXMLInstantiator/Visitor.html">RGen::Instantiator::NodebasedXMLInstantiator::Visitor</a></li>
        
          <li><a href="../../RGen/Instantiator/NodebasedXMLInstantiator/XMLNodeDescriptor.html">RGen::Instantiator::NodebasedXMLInstantiator::XMLNodeDescriptor</a></li>
        
          <li><a href="../../RGen/Instantiator/QualifiedNameResolver.html">RGen::Instantiator::QualifiedNameResolver</a></li>
        
          <li><a href="../../RGen/Instantiator/ReferenceResolver.html">RGen::Instantiator::ReferenceResolver</a></li>
        
          <li><a href="../../RGen/Instantiator/ReferenceResolver/UnresolvedReference.html">RGen::Instantiator::ReferenceResolver::UnresolvedReference</a></li>
        
          <li><a href="../../RGen/MetamodelBuilder.html">RGen::MetamodelBuilder</a></li>
        
          <li><a href="../../RGen/MetamodelBuilder/BuilderExtensions.html">RGen::MetamodelBuilder::BuilderExtensions</a></li>
        
          <li><a href="../../RGen/MetamodelBuilder/BuilderExtensions/FeatureBlockEvaluator.html">RGen::MetamodelBuilder::BuilderExtensions::FeatureBlockEvaluator</a></li>
        
          <li><a href="../../RGen/MetamodelBuilder/BuilderRuntime.html">RGen::MetamodelBuilder::BuilderRuntime</a></li>
        
          <li><a href="../../RGen/MetamodelBuilder/DataTypes.html">RGen::MetamodelBuilder::DataTypes</a></li>
        
          <li><a href="../../RGen/MetamodelBuilder/DataTypes/Enum.html">RGen::MetamodelBuilder::DataTypes::Enum</a></li>
        
          <li><a href="../../RGen/MetamodelBuilder/Intermediate.html">RGen::MetamodelBuilder::Intermediate</a></li>
        
          <li><a href="../../RGen/MetamodelBuilder/Intermediate/Annotation.html">RGen::MetamodelBuilder::Intermediate::Annotation</a></li>
        
          <li><a href="../../RGen/MetamodelBuilder/Intermediate/Attribute.html">RGen::MetamodelBuilder::Intermediate::Attribute</a></li>
        
          <li><a href="../../RGen/MetamodelBuilder/Intermediate/Feature.html">RGen::MetamodelBuilder::Intermediate::Feature</a></li>
        
          <li><a href="../../RGen/MetamodelBuilder/Intermediate/Reference.html">RGen::MetamodelBuilder::Intermediate::Reference</a></li>
        
          <li><a href="../../RGen/MetamodelBuilder/MMBase.html">RGen::MetamodelBuilder::MMBase</a></li>
        
          <li><a href="../../RGen/MetamodelBuilder/MMGeneric.html">RGen::MetamodelBuilder::MMGeneric</a></li>
        
          <li><a href="../../RGen/MetamodelBuilder/MMProxy.html">RGen::MetamodelBuilder::MMProxy</a></li>
        
          <li><a href="../../RGen/MetamodelBuilder/ModuleExtension.html">RGen::MetamodelBuilder::ModuleExtension</a></li>
        
          <li><a href="../../RGen/ModelBuilder.html">RGen::ModelBuilder</a></li>
        
          <li><a href="../../RGen/ModelBuilder/BuilderContext.html">RGen::ModelBuilder::BuilderContext</a></li>
        
          <li><a href="../../RGen/ModelBuilder/BuilderContext/CommandResolver.html">RGen::ModelBuilder::BuilderContext::CommandResolver</a></li>
        
          <li><a href="../../RGen/ModelBuilder/BuilderContext/ConstPathElement.html">RGen::ModelBuilder::BuilderContext::ConstPathElement</a></li>
        
          <li><a href="../../RGen/ModelBuilder/BuilderContext/ExtensionContainerFactory.html">RGen::ModelBuilder::BuilderContext::ExtensionContainerFactory</a></li>
        
          <li><a href="../../RGen/ModelBuilder/BuilderContext/ExtensionContainerFactory/ExtensionContainer.html">RGen::ModelBuilder::BuilderContext::ExtensionContainerFactory::ExtensionContainer</a></li>
        
          <li><a href="../../RGen/ModelBuilder/BuilderContext/PackageNotFoundException.html">RGen::ModelBuilder::BuilderContext::PackageNotFoundException</a></li>
        
          <li><a href="../../RGen/ModelBuilder/BuilderContext/PackageResolver.html">RGen::ModelBuilder::BuilderContext::PackageResolver</a></li>
        
          <li><a href="../../RGen/ModelBuilder/ModelSerializer.html">RGen::ModelBuilder::ModelSerializer</a></li>
        
          <li><a href="../../RGen/ModelBuilder/ReferenceResolver.html">RGen::ModelBuilder::ReferenceResolver</a></li>
        
          <li><a href="../../RGen/ModelBuilder/ReferenceResolver/ResolverException.html">RGen::ModelBuilder::ReferenceResolver::ResolverException</a></li>
        
          <li><a href="../../RGen/ModelBuilder/ReferenceResolver/ToplevelNamespace.html">RGen::ModelBuilder::ReferenceResolver::ToplevelNamespace</a></li>
        
          <li><a href="../../RGen/Serializer.html">RGen::Serializer</a></li>
        
          <li><a href="../../RGen/Serializer/JsonSerializer.html">RGen::Serializer::JsonSerializer</a></li>
        
          <li><a href="../../RGen/Serializer/QualifiedNameProvider.html">RGen::Serializer::QualifiedNameProvider</a></li>
        
          <li><a href="../../RGen/Serializer/XMI11Serializer.html">RGen::Serializer::XMI11Serializer</a></li>
        
          <li><a href="../../RGen/Serializer/XMI20Serializer.html">RGen::Serializer::XMI20Serializer</a></li>
        
          <li><a href="../../RGen/Serializer/XMLSerializer.html">RGen::Serializer::XMLSerializer</a></li>
        
          <li><a href="../../RGen/TemplateLanguage.html">RGen::TemplateLanguage</a></li>
        
          <li><a href="../../RGen/TemplateLanguage/DirectoryTemplateContainer.html">RGen::TemplateLanguage::DirectoryTemplateContainer</a></li>
        
          <li><a href="../../RGen/TemplateLanguage/OutputHandler.html">RGen::TemplateLanguage::OutputHandler</a></li>
        
          <li><a href="../../RGen/TemplateLanguage/TemplateContainer.html">RGen::TemplateLanguage::TemplateContainer</a></li>
        
          <li><a href="../../RGen/TemplateLanguage/TemplateHelper.html">RGen::TemplateLanguage::TemplateHelper</a></li>
        
          <li><a href="../../RGen/Transformer.html">RGen::Transformer</a></li>
        
          <li><a href="../../RGen/Util.html">RGen::Util</a></li>
        
          <li><a href="../../RGen/Util/AutoClassCreator.html">RGen::Util::AutoClassCreator</a></li>
        
          <li><a href="../../RGen/Util/AutoCreatedClass.html">RGen::Util::AutoCreatedClass</a></li>
        
          <li><a href="../../RGen/Util/Base.html">RGen::Util::Base</a></li>
        
          <li><a href="../../RGen/Util/CachedGlob.html">RGen::Util::CachedGlob</a></li>
        
          <li><a href="../../RGen/Util/FileCacheMap.html">RGen::Util::FileCacheMap</a></li>
        
          <li><a href="../../RGen/Util/FileChangeDetector.html">RGen::Util::FileChangeDetector</a></li>
        
          <li><a href="../../RGen/Util/MethodDelegation.html">RGen::Util::MethodDelegation</a></li>
        
          <li><a href="../../RGen/Util/ModelComparator.html">RGen::Util::ModelComparator</a></li>
        
          <li><a href="../../RGen/Util/ModelComparatorBase.html">RGen::Util::ModelComparatorBase</a></li>
        
          <li><a href="../../RGen/Util/ModelDumper.html">RGen::Util::ModelDumper</a></li>
        
          <li><a href="../../RGen/Util/NameHelper.html">RGen::Util::NameHelper</a></li>
        
          <li><a href="../../RGen/Util/ParentAccess.html">RGen::Util::ParentAccess</a></li>
        
          <li><a href="../../RGen/Util/PatternMatcher.html">RGen::Util::PatternMatcher</a></li>
        
          <li><a href="../../RGen/Util/PatternMatcher/Bindable.html">RGen::Util::PatternMatcher::Bindable</a></li>
        
          <li><a href="../../RGen/Util/PatternMatcher/Lazy.html">RGen::Util::PatternMatcher::Lazy</a></li>
        
          <li><a href="../../RGen/Util/PatternMatcher/Proxy.html">RGen::Util::PatternMatcher::Proxy</a></li>
        
          <li><a href="../../RGen/Util/PatternMatcher/TempEnv.html">RGen::Util::PatternMatcher::TempEnv</a></li>
        
          <li><a href="../../AbstractXMLInstantiator.html">AbstractXMLInstantiator</a></li>
        
          <li><a href="../../AbstractXMLInstantiator/Visitor.html">AbstractXMLInstantiator::Visitor</a></li>
        
          <li><a href="../../MMGen.html">MMGen</a></li>
        
          <li><a href="../../MMGen/MetamodelGenerator.html">MMGen::MetamodelGenerator</a></li>
        
          <li><a href="../../Array.html">Array</a></li>
        
          <li><a href="../../EASupport.html">EASupport</a></li>
        
          <li><a href="../../ECoreToUML13.html">ECoreToUML13</a></li>
        
          <li><a href="../../ECoreXMLInstantiator.html">ECoreXMLInstantiator</a></li>
        
          <li><a href="../../IdStore.html">IdStore</a></li>
        
          <li><a href="../../Object.html">Object</a></li>
        
          <li><a href="../../UML13ToECore.html">UML13ToECore</a></li>
        
          <li><a href="../../XMI11Instantiator.html">XMI11Instantiator</a></li>
        
        </ul>
        <div id="no-class-search-results" style="display: none;">No matching classes.</div>
      </div>

      
    </div>
  </div>

  <div id="documentation">
    <h1 class="class">RGen::Fragment::ModelFragment</h1>

    <div id="description" class="description">
      
<p>A model fragment is a list of root model elements associated with a
location (e.g. a file)</p>

<p>Optionally, an arbitrary data object may be associated with the fragment.
The data object will also be stored in the cache.</p>

<p>If an element within the fragment changes this must be indicated to the
fragment by calling <tt>mark_changed</tt>.</p>

    </div><!-- description -->

    
    
    
    <div id="5Buntitled-5D" class="documentation-section">
      

      

      

      
      <!-- Attributes -->
      <div id="attribute-method-details" class="method-section section">
        <h3 class="section-header">Attributes</h3>

        
        <div id="data-attribute-method" class="method-detail">
          <a name="data"></a>
          
          <a name="data="></a>
          
          <div class="method-heading attribute-method-heading">
            <span class="method-name">data</span><span
              class="attribute-access-type">[RW]</span>
          </div>

          <div class="method-description">
          
          
          
          </div>
        </div>
        
        <div id="fragment_ref-attribute-method" class="method-detail">
          <a name="fragment_ref"></a>
          
          <a name="fragment_ref="></a>
          
          <div class="method-heading attribute-method-heading">
            <span class="method-name">fragment_ref</span><span
              class="attribute-access-type">[RW]</span>
          </div>

          <div class="method-description">
          
          
          
          </div>
        </div>
        
        <div id="location-attribute-method" class="method-detail">
          <a name="location"></a>
          
          <a name="location="></a>
          
          <div class="method-heading attribute-method-heading">
            <span class="method-name">location</span><span
              class="attribute-access-type">[RW]</span>
          </div>

          <div class="method-description">
          
          
          
          </div>
        </div>
        
        <div id="root_elements-attribute-method" class="method-detail">
          <a name="root_elements"></a>
          
          <div class="method-heading attribute-method-heading">
            <span class="method-name">root_elements</span><span
              class="attribute-access-type">[R]</span>
          </div>

          <div class="method-description">
          
          
          
          </div>
        </div>
        
      </div><!-- attribute-method-details -->
      

      <!-- Methods -->
      
      <div id="public-class-method-details" class="method-section section">
        <h3 class="section-header">Public Class Methods</h3>

      
        <div id="new-method" class="method-detail ">
          <a name="method-c-new"></a>

          
          <div class="method-heading">
            <span class="method-name">new</span><span
              class="method-args">(location, options={})</span>
            <span class="method-click-advice">click to toggle source</span>
          </div>
          

          <div class="method-description">
            
            <p>Create a model fragment</p>

<pre>:data
  data object associated with this fragment

:identifier_provider
  identifier provider to be used when resolving references
  it must be a proc which receives a model element and must return 
  that element's identifier or nil if the element has no identifier</pre>
            

            
            <div class="method-source-code" id="new-source">
<pre>
<span class="ruby-comment"># File lib/rgen/fragment/model_fragment.rb, line 49</span>
<span class="ruby-keyword">def</span> <span class="ruby-identifier">initialize</span>(<span class="ruby-identifier">location</span>, <span class="ruby-identifier">options</span>={})
  <span class="ruby-ivar">@location</span> = <span class="ruby-identifier">location</span>
  <span class="ruby-ivar">@fragment_ref</span> = <span class="ruby-constant">FragmentRef</span>.<span class="ruby-identifier">new</span>
  <span class="ruby-ivar">@fragment_ref</span>.<span class="ruby-identifier">fragment</span> = <span class="ruby-keyword">self</span>
  <span class="ruby-ivar">@data</span> = <span class="ruby-identifier">options</span>[<span class="ruby-value">:data</span>]
  <span class="ruby-ivar">@resolved_refs</span> = <span class="ruby-keyword">nil</span> 
  <span class="ruby-ivar">@changed</span> = <span class="ruby-keyword">false</span>
  <span class="ruby-ivar">@identifier_provider</span> = <span class="ruby-identifier">options</span>[<span class="ruby-value">:identifier_provider</span>]
<span class="ruby-keyword">end</span></pre>
            </div><!-- new-source -->
            
          </div>

          

          
        </div><!-- new-method -->

      
      </div><!-- public-class-method-details -->
    
      <div id="public-instance-method-details" class="method-section section">
        <h3 class="section-header">Public Instance Methods</h3>

      
        <div id="build_index-method" class="method-detail ">
          <a name="method-i-build_index"></a>

          
          <div class="method-heading">
            <span class="method-name">build_index</span><span
              class="method-args">()</span>
            <span class="method-click-advice">click to toggle source</span>
          </div>
          

          <div class="method-description">
            
            <p>Builds the index of all elements within this fragment having an identifier
the index is an array of 2-element arrays holding the identifier and the
element</p>
            

            
            <div class="method-source-code" id="build_index-source">
<pre>
<span class="ruby-comment"># File lib/rgen/fragment/model_fragment.rb, line 133</span>
<span class="ruby-keyword">def</span> <span class="ruby-identifier">build_index</span>
  <span class="ruby-identifier">raise</span> <span class="ruby-string">&quot;cannot build index without an identifier provider&quot;</span> <span class="ruby-keyword">unless</span> <span class="ruby-ivar">@identifier_provider</span>
  <span class="ruby-ivar">@index</span> = <span class="ruby-identifier">elements</span>.<span class="ruby-identifier">collect</span> { <span class="ruby-operator">|</span><span class="ruby-identifier">e</span><span class="ruby-operator">|</span>
    <span class="ruby-identifier">ident</span> = <span class="ruby-ivar">@identifier_provider</span>.<span class="ruby-identifier">call</span>(<span class="ruby-identifier">e</span>, <span class="ruby-keyword">nil</span>)
    <span class="ruby-identifier">ident</span> <span class="ruby-operator">&amp;&amp;</span> <span class="ruby-operator">!</span><span class="ruby-identifier">ident</span>.<span class="ruby-identifier">empty?</span> <span class="ruby-operator">?</span> [<span class="ruby-identifier">ident</span>, <span class="ruby-identifier">e</span>] <span class="ruby-operator">:</span> <span class="ruby-keyword">nil</span> 
  }.<span class="ruby-identifier">compact</span>
<span class="ruby-keyword">end</span></pre>
            </div><!-- build_index-source -->
            
          </div>

          

          
        </div><!-- build_index-method -->

      
        <div id="changed-3F-method" class="method-detail ">
          <a name="method-i-changed-3F"></a>

          
          <div class="method-heading">
            <span class="method-name">changed?</span><span
              class="method-args">()</span>
            <span class="method-click-advice">click to toggle source</span>
          </div>
          

          <div class="method-description">
            
            <p>Indicates whether the fragment has been changed or not</p>
            

            
            <div class="method-source-code" id="changed-3F-source">
<pre>
<span class="ruby-comment"># File lib/rgen/fragment/model_fragment.rb, line 92</span>
<span class="ruby-keyword">def</span> <span class="ruby-identifier">changed?</span>
  <span class="ruby-ivar">@changed</span>
<span class="ruby-keyword">end</span></pre>
            </div><!-- changed-3F-source -->
            
          </div>

          

          
        </div><!-- changed-3F-method -->

      
        <div id="elements-method" class="method-detail ">
          <a name="method-i-elements"></a>

          
          <div class="method-heading">
            <span class="method-name">elements</span><span
              class="method-args">()</span>
            <span class="method-click-advice">click to toggle source</span>
          </div>
          

          <div class="method-description">
            
            <p>Returns all elements within this fragment</p>
            

            
            <div class="method-source-code" id="elements-source">
<pre>
<span class="ruby-comment"># File lib/rgen/fragment/model_fragment.rb, line 98</span>
<span class="ruby-keyword">def</span> <span class="ruby-identifier">elements</span>
  <span class="ruby-keyword">return</span> <span class="ruby-ivar">@elements</span> <span class="ruby-keyword">if</span> <span class="ruby-ivar">@elements</span>
  <span class="ruby-ivar">@elements</span> = []
  <span class="ruby-ivar">@root_elements</span>.<span class="ruby-identifier">each</span> <span class="ruby-keyword">do</span> <span class="ruby-operator">|</span><span class="ruby-identifier">e</span><span class="ruby-operator">|</span>
    <span class="ruby-identifier">all_child_elements</span>(<span class="ruby-identifier">e</span>, <span class="ruby-ivar">@elements</span>)
  <span class="ruby-keyword">end</span>
  <span class="ruby-ivar">@elements</span>
<span class="ruby-keyword">end</span></pre>
            </div><!-- elements-source -->
            
          </div>

          

          
        </div><!-- elements-method -->

      
        <div id="index-method" class="method-detail ">
          <a name="method-i-index"></a>

          
          <div class="method-heading">
            <span class="method-name">index</span><span
              class="method-args">()</span>
            <span class="method-click-advice">click to toggle source</span>
          </div>
          

          <div class="method-description">
            
            <p>Returns the index of the element contained in this fragment.</p>
            

            
            <div class="method-source-code" id="index-source">
<pre>
<span class="ruby-comment"># File lib/rgen/fragment/model_fragment.rb, line 109</span>
<span class="ruby-keyword">def</span> <span class="ruby-identifier">index</span>
  <span class="ruby-identifier">build_index</span> <span class="ruby-keyword">unless</span> <span class="ruby-ivar">@index</span>
  <span class="ruby-ivar">@index</span>
<span class="ruby-keyword">end</span></pre>
            </div><!-- index-source -->
            
          </div>

          

          
        </div><!-- index-method -->

      
        <div id="mark_changed-method" class="method-detail ">
          <a name="method-i-mark_changed"></a>

          
          <div class="method-heading">
            <span class="method-name">mark_changed</span><span
              class="method-args">()</span>
            <span class="method-click-advice">click to toggle source</span>
          </div>
          

          <div class="method-description">
            
            <p>Must be called when any of the elements in this fragment has been changed</p>
            

            
            <div class="method-source-code" id="mark_changed-source">
<pre>
<span class="ruby-comment"># File lib/rgen/fragment/model_fragment.rb, line 76</span>
<span class="ruby-keyword">def</span> <span class="ruby-identifier">mark_changed</span>
  <span class="ruby-ivar">@changed</span> = <span class="ruby-keyword">true</span>
  <span class="ruby-ivar">@elements</span> = <span class="ruby-keyword">nil</span>
  <span class="ruby-ivar">@index</span> = <span class="ruby-keyword">nil</span>
  <span class="ruby-ivar">@unresolved_refs</span> = <span class="ruby-keyword">nil</span>
  <span class="ruby-ivar">@resolved_refs</span> = <span class="ruby-value">:dirty</span> 
<span class="ruby-keyword">end</span></pre>
            </div><!-- mark_changed-source -->
            
          </div>

          

          
        </div><!-- mark_changed-method -->

      
        <div id="mark_unchanged-method" class="method-detail ">
          <a name="method-i-mark_unchanged"></a>

          
          <div class="method-heading">
            <span class="method-name">mark_unchanged</span><span
              class="method-args">()</span>
            <span class="method-click-advice">click to toggle source</span>
          </div>
          

          <div class="method-description">
            
            <p>Can be used to reset the change status to unchanged.</p>
            

            
            <div class="method-source-code" id="mark_unchanged-source">
<pre>
<span class="ruby-comment"># File lib/rgen/fragment/model_fragment.rb, line 86</span>
<span class="ruby-keyword">def</span> <span class="ruby-identifier">mark_unchanged</span>
  <span class="ruby-ivar">@changed</span> = <span class="ruby-keyword">false</span>
<span class="ruby-keyword">end</span></pre>
            </div><!-- mark_unchanged-source -->
            
          </div>

          

          
        </div><!-- mark_unchanged-method -->

      
        <div id="resolve_external-method" class="method-detail ">
          <a name="method-i-resolve_external"></a>

          
          <div class="method-heading">
            <span class="method-name">resolve_external</span><span
              class="method-args">(external_index, options)</span>
            <span class="method-click-advice">click to toggle source</span>
          </div>
          

          <div class="method-description">
            
            <p>Resolves references to external fragments using the external_index
provided. The external index must be a Hash mapping identifiers uniquely to
model elements.</p>

<p>Options:</p>

<pre>:fragment_provider: 
  If a +fragment_provider+ is given, the resolve step can be reverted later on 
  by a call to unresolve_external or unresolve_external_fragment. The fragment provider
  is a proc which receives a model element and must return the fragment in which it is
  contained.

:use_target_type: 
  reference resolver uses the expected target type to narrow the set of possible targets</pre>
            

            
            <div class="method-source-code" id="resolve_external-source">
<pre>
<span class="ruby-comment"># File lib/rgen/fragment/model_fragment.rb, line 171</span>
<span class="ruby-keyword">def</span> <span class="ruby-identifier">resolve_external</span>(<span class="ruby-identifier">external_index</span>, <span class="ruby-identifier">options</span>)
  <span class="ruby-identifier">fragment_provider</span> = <span class="ruby-identifier">options</span>[<span class="ruby-value">:fragment_provider</span>]
  <span class="ruby-identifier">resolver</span> = <span class="ruby-constant">RGen</span><span class="ruby-operator">::</span><span class="ruby-constant">Instantiator</span><span class="ruby-operator">::</span><span class="ruby-constant">ReferenceResolver</span>.<span class="ruby-identifier">new</span>(
    <span class="ruby-value">:identifier_resolver</span> =<span class="ruby-operator">&gt;</span> <span class="ruby-identifier">proc</span> {<span class="ruby-operator">|</span><span class="ruby-identifier">ident</span><span class="ruby-operator">|</span> <span class="ruby-identifier">external_index</span>[<span class="ruby-identifier">ident</span>] })
  <span class="ruby-keyword">if</span> <span class="ruby-identifier">fragment_provider</span>
    <span class="ruby-ivar">@resolved_refs</span> = {} <span class="ruby-keyword">if</span> <span class="ruby-ivar">@resolved_refs</span>.<span class="ruby-identifier">nil?</span> <span class="ruby-operator">||</span> <span class="ruby-ivar">@resolved_refs</span> <span class="ruby-operator">==</span> <span class="ruby-value">:dirty</span>
    <span class="ruby-identifier">on_resolve</span> = <span class="ruby-identifier">proc</span> { <span class="ruby-operator">|</span><span class="ruby-identifier">ur</span>, <span class="ruby-identifier">target</span><span class="ruby-operator">|</span>
      <span class="ruby-identifier">target_fragment</span> = <span class="ruby-identifier">fragment_provider</span>.<span class="ruby-identifier">call</span>(<span class="ruby-identifier">target</span>)
      <span class="ruby-identifier">target_fragment</span> <span class="ruby-operator">||=</span> <span class="ruby-value">:unknown</span>
      <span class="ruby-identifier">raise</span> <span class="ruby-string">&quot;can not resolve local reference in resolve_external, call resolve_local first&quot;</span>            <span class="ruby-keyword">if</span> <span class="ruby-identifier">target_fragment</span> <span class="ruby-operator">==</span> <span class="ruby-keyword">self</span>
      <span class="ruby-ivar">@resolved_refs</span>[<span class="ruby-identifier">target_fragment</span>] <span class="ruby-operator">||=</span> []
      <span class="ruby-ivar">@resolved_refs</span>[<span class="ruby-identifier">target_fragment</span>] <span class="ruby-operator">&lt;&lt;</span> <span class="ruby-constant">ResolvedReference</span>.<span class="ruby-identifier">new</span>(<span class="ruby-identifier">ur</span>, <span class="ruby-identifier">target</span>)
    } 
    <span class="ruby-ivar">@unresolved_refs</span> = <span class="ruby-identifier">resolver</span>.<span class="ruby-identifier">resolve</span>(<span class="ruby-identifier">unresolved_refs</span>, <span class="ruby-value">:on_resolve</span> =<span class="ruby-operator">&gt;</span> <span class="ruby-identifier">on_resolve</span>, <span class="ruby-value">:use_target_type</span> =<span class="ruby-operator">&gt;</span> <span class="ruby-identifier">options</span>[<span class="ruby-value">:use_target_type</span>])
  <span class="ruby-keyword">else</span>
    <span class="ruby-ivar">@unresolved_refs</span> = <span class="ruby-identifier">resolver</span>.<span class="ruby-identifier">resolve</span>(<span class="ruby-identifier">unresolved_refs</span>, <span class="ruby-value">:use_target_type</span> =<span class="ruby-operator">&gt;</span> <span class="ruby-identifier">options</span>[<span class="ruby-value">:use_target_type</span>])
  <span class="ruby-keyword">end</span>
<span class="ruby-keyword">end</span></pre>
            </div><!-- resolve_external-source -->
            
          </div>

          

          
        </div><!-- resolve_external-method -->

      
        <div id="resolve_local-method" class="method-detail ">
          <a name="method-i-resolve_local"></a>

          
          <div class="method-heading">
            <span class="method-name">resolve_local</span><span
              class="method-args">(options={})</span>
            <span class="method-click-advice">click to toggle source</span>
          </div>
          

          <div class="method-description">
            
            <p>Resolves local references (within this fragment) as far as possible</p>

<p>Options:</p>

<pre>:use_target_type: 
  reference resolver uses the expected target type to narrow the set of possible targets</pre>
            

            
            <div class="method-source-code" id="resolve_local-source">
<pre>
<span class="ruby-comment"># File lib/rgen/fragment/model_fragment.rb, line 148</span>
<span class="ruby-keyword">def</span> <span class="ruby-identifier">resolve_local</span>(<span class="ruby-identifier">options</span>={})
  <span class="ruby-identifier">resolver</span> = <span class="ruby-constant">RGen</span><span class="ruby-operator">::</span><span class="ruby-constant">Instantiator</span><span class="ruby-operator">::</span><span class="ruby-constant">ReferenceResolver</span>.<span class="ruby-identifier">new</span>
  <span class="ruby-identifier">index</span>.<span class="ruby-identifier">each</span> <span class="ruby-keyword">do</span> <span class="ruby-operator">|</span><span class="ruby-identifier">i</span><span class="ruby-operator">|</span>
    <span class="ruby-identifier">resolver</span>.<span class="ruby-identifier">add_identifier</span>(<span class="ruby-identifier">i</span>[<span class="ruby-value">0</span>], <span class="ruby-identifier">i</span>[<span class="ruby-value">1</span>])
  <span class="ruby-keyword">end</span>
  <span class="ruby-ivar">@unresolved_refs</span> = <span class="ruby-identifier">resolver</span>.<span class="ruby-identifier">resolve</span>(<span class="ruby-identifier">unresolved_refs</span>, <span class="ruby-value">:use_target_type</span> =<span class="ruby-operator">&gt;</span> <span class="ruby-identifier">options</span>[<span class="ruby-value">:use_target_type</span>])
<span class="ruby-keyword">end</span></pre>
            </div><!-- resolve_local-source -->
            
          </div>

          

          
        </div><!-- resolve_local-method -->

      
        <div id="set_root_elements-method" class="method-detail ">
          <a name="method-i-set_root_elements"></a>

          
          <div class="method-heading">
            <span class="method-name">set_root_elements</span><span
              class="method-args">(root_elements, options={})</span>
            <span class="method-click-advice">click to toggle source</span>
          </div>
          

          <div class="method-description">
            
            <p>Set the root elements, normally done by an instantiator.</p>

<p>For optimization reasons the instantiator of the fragment may provide data
explicitly which is normally derived by the fragment itself. In this case
it is essential that this data is consistent with the fragment.</p>
            

            
            <div class="method-source-code" id="set_root_elements-source">
<pre>
<span class="ruby-comment"># File lib/rgen/fragment/model_fragment.rb, line 65</span>
<span class="ruby-keyword">def</span> <span class="ruby-identifier">set_root_elements</span>(<span class="ruby-identifier">root_elements</span>, <span class="ruby-identifier">options</span>={})
  <span class="ruby-ivar">@root_elements</span> = <span class="ruby-identifier">root_elements</span> 
  <span class="ruby-ivar">@elements</span> = <span class="ruby-identifier">options</span>[<span class="ruby-value">:elements</span>]
  <span class="ruby-ivar">@index</span> = <span class="ruby-identifier">options</span>[<span class="ruby-value">:index</span>]
  <span class="ruby-ivar">@unresolved_refs</span> = <span class="ruby-identifier">options</span>[<span class="ruby-value">:unresolved_refs</span>]
  <span class="ruby-ivar">@resolved_refs</span> = <span class="ruby-keyword">nil</span> 
  <span class="ruby-ivar">@changed</span> = <span class="ruby-keyword">false</span>
<span class="ruby-keyword">end</span></pre>
            </div><!-- set_root_elements-source -->
            
          </div>

          

          
        </div><!-- set_root_elements-method -->

      
        <div id="unresolve_external-method" class="method-detail ">
          <a name="method-i-unresolve_external"></a>

          
          <div class="method-heading">
            <span class="method-name">unresolve_external</span><span
              class="method-args">()</span>
            <span class="method-click-advice">click to toggle source</span>
          </div>
          

          <div class="method-description">
            
            <p>Unresolve outgoing references to all external fragments, i.e. references
which used to be represented by an unresolved reference from within this
fragment. Note, that there may be more references to external fragments due
to references which  were represented by unresolved references from within
other fragments.</p>
            

            
            <div class="method-source-code" id="unresolve_external-source">
<pre>
<span class="ruby-comment"># File lib/rgen/fragment/model_fragment.rb, line 196</span>
<span class="ruby-keyword">def</span> <span class="ruby-identifier">unresolve_external</span>
  <span class="ruby-keyword">return</span> <span class="ruby-keyword">if</span> <span class="ruby-ivar">@resolved_refs</span>.<span class="ruby-identifier">nil?</span>
  <span class="ruby-identifier">raise</span> <span class="ruby-string">&quot;can not unresolve, missing fragment information&quot;</span> <span class="ruby-keyword">if</span> <span class="ruby-ivar">@resolved_refs</span> <span class="ruby-operator">==</span> <span class="ruby-value">:dirty</span> <span class="ruby-operator">||</span> <span class="ruby-ivar">@resolved_refs</span>[<span class="ruby-value">:unknown</span>]
  <span class="ruby-identifier">rrefs</span> = <span class="ruby-ivar">@resolved_refs</span>.<span class="ruby-identifier">values</span>.<span class="ruby-identifier">flatten</span>
  <span class="ruby-ivar">@resolved_refs</span> = {}
  <span class="ruby-identifier">unresolve_refs</span>(<span class="ruby-identifier">rrefs</span>)
<span class="ruby-keyword">end</span></pre>
            </div><!-- unresolve_external-source -->
            
          </div>

          

          
        </div><!-- unresolve_external-method -->

      
        <div id="unresolve_external_fragment-method" class="method-detail ">
          <a name="method-i-unresolve_external_fragment"></a>

          
          <div class="method-heading">
            <span class="method-name">unresolve_external_fragment</span><span
              class="method-args">(fragment)</span>
            <span class="method-click-advice">click to toggle source</span>
          </div>
          

          <div class="method-description">
            
            <p>Like <a
href="ModelFragment.html#method-i-unresolve_external">unresolve_external</a>
but only unresolve references to external fragment <tt>fragment</tt></p>
            

            
            <div class="method-source-code" id="unresolve_external_fragment-source">
<pre>
<span class="ruby-comment"># File lib/rgen/fragment/model_fragment.rb, line 206</span>
<span class="ruby-keyword">def</span> <span class="ruby-identifier">unresolve_external_fragment</span>(<span class="ruby-identifier">fragment</span>)
  <span class="ruby-keyword">return</span> <span class="ruby-keyword">if</span> <span class="ruby-ivar">@resolved_refs</span>.<span class="ruby-identifier">nil?</span>
  <span class="ruby-identifier">raise</span> <span class="ruby-string">&quot;can not unresolve, missing fragment information&quot;</span> <span class="ruby-keyword">if</span> <span class="ruby-ivar">@resolved_refs</span> <span class="ruby-operator">==</span> <span class="ruby-value">:dirty</span> <span class="ruby-operator">||</span> <span class="ruby-ivar">@resolved_refs</span>[<span class="ruby-value">:unknown</span>]
  <span class="ruby-identifier">rrefs</span> = <span class="ruby-ivar">@resolved_refs</span>[<span class="ruby-identifier">fragment</span>]
  <span class="ruby-ivar">@resolved_refs</span>.<span class="ruby-identifier">delete</span>(<span class="ruby-identifier">fragment</span>)
  <span class="ruby-identifier">unresolve_refs</span>(<span class="ruby-identifier">rrefs</span>) <span class="ruby-keyword">if</span> <span class="ruby-identifier">rrefs</span>
<span class="ruby-keyword">end</span></pre>
            </div><!-- unresolve_external_fragment-source -->
            
          </div>

          

          
        </div><!-- unresolve_external_fragment-method -->

      
        <div id="unresolved_refs-method" class="method-detail ">
          <a name="method-i-unresolved_refs"></a>

          
          <div class="method-heading">
            <span class="method-name">unresolved_refs</span><span
              class="method-args">()</span>
            <span class="method-click-advice">click to toggle source</span>
          </div>
          

          <div class="method-description">
            
            <p>Returns all unresolved references within this fragment, i.e. references to
MMProxy objects</p>
            

            
            <div class="method-source-code" id="unresolved_refs-source">
<pre>
<span class="ruby-comment"># File lib/rgen/fragment/model_fragment.rb, line 116</span>
<span class="ruby-keyword">def</span> <span class="ruby-identifier">unresolved_refs</span>
  <span class="ruby-keyword">return</span> <span class="ruby-ivar">@unresolved_refs</span> <span class="ruby-keyword">if</span> <span class="ruby-ivar">@unresolved_refs</span>
  <span class="ruby-ivar">@unresolved_refs</span> = []
  <span class="ruby-identifier">elements</span>.<span class="ruby-identifier">each</span> <span class="ruby-keyword">do</span> <span class="ruby-operator">|</span><span class="ruby-identifier">e</span><span class="ruby-operator">|</span>
    <span class="ruby-identifier">each_reference_target</span>(<span class="ruby-identifier">e</span>) <span class="ruby-keyword">do</span> <span class="ruby-operator">|</span><span class="ruby-identifier">r</span>, <span class="ruby-identifier">t</span><span class="ruby-operator">|</span>
      <span class="ruby-keyword">if</span> <span class="ruby-identifier">t</span>.<span class="ruby-identifier">is_a?</span>(<span class="ruby-constant">RGen</span><span class="ruby-operator">::</span><span class="ruby-constant">MetamodelBuilder</span><span class="ruby-operator">::</span><span class="ruby-constant">MMProxy</span>)
        <span class="ruby-ivar">@unresolved_refs</span> <span class="ruby-operator">&lt;&lt;</span> 
          <span class="ruby-constant">RGen</span><span class="ruby-operator">::</span><span class="ruby-constant">Instantiator</span><span class="ruby-operator">::</span><span class="ruby-constant">ReferenceResolver</span><span class="ruby-operator">::</span><span class="ruby-constant">UnresolvedReference</span>.<span class="ruby-identifier">new</span>(<span class="ruby-identifier">e</span>, <span class="ruby-identifier">r</span>.<span class="ruby-identifier">name</span>, <span class="ruby-identifier">t</span>)
      <span class="ruby-keyword">end</span>
    <span class="ruby-keyword">end</span>
  <span class="ruby-keyword">end</span>
  <span class="ruby-ivar">@unresolved_refs</span>
<span class="ruby-keyword">end</span></pre>
            </div><!-- unresolved_refs-source -->
            
          </div>

          

          
        </div><!-- unresolved_refs-method -->

      
      </div><!-- public-instance-method-details -->
    
    </div><!-- 5Buntitled-5D -->
  

  </div><!-- documentation -->

  <div id="validator-badges">
    <p><small><a href="http://validator.w3.org/check/referer">[Validate]</a></small></p>
    <p><small>Generated with the <a href="http://deveiate.org/projects/Darkfish-Rdoc/">Darkfish
      Rdoc Generator</a> 2</small>.</p>
  </div>

</body>
</html>

